.section {
    @apply text-white px-8 pb-8 grid;
}

.section_dark {
    @apply bg-black section;
}
.section_light {
    @apply bg-black-light section;
}

.section_container {
    @apply container justify-self-center;
}
