.container {
    border-width: 1px;
    @apply border-white border-opacity-10 p-6 my-8;
}
.container:first-child,
.container:last-child {
    @apply mt-8 mb-0;
}

.dates {
    @apply bg-red rounded-sm py-0.5 px-1 text-sm font-sans;
}

.title {
    @apply my-2 text-2xl font-medium;
}

.subtitle {
    @apply text-green font-medium;
}

.description {
    @apply mt-3;
}
