.background {
    @apply bg-cover bg-right bg-home-background bg-no-repeat bg-fixed;
    padding: env(safe-area-inset);
}

.overlay {
    @apply bg-opacity-80 bg-black h-screen w-full flex;
}

.text_container {
    @apply text-white align-middle w-full my-auto text-center mx-3;
}

.welcome {
    @apply text-3xl my-5;
}

.animation {
    @apply text-6xl my-5 font-bold;
}

.location {
    @apply text-2xl my-5;
}

.hireme {
    @apply text-green border-2 border-green py-3 px-6 rounded-full transition-all duration-200;
    @apply focus:outline-none;
    @apply hover:bg-green hover:text-white;
}
