.regular_button {
    @apply py-3 px-6 transition-all duration-200 inline-block rounded-full;
    @apply focus:outline-none;
}

.active_button {
    @apply regular_button;
    @apply bg-green text-white font-medium;
    @apply hover:bg-green-dark;
}

.alt_button {
    @apply regular_button;
    @apply text-green border-2 border-green;
    @apply hover:bg-green hover:text-white;
}

.greyActive_button {
    @apply regular_button;
    @apply text-white border-2 border-white border-opacity-40 text-opacity-40;
    @apply hover:bg-white hover:bg-opacity-40 hover:text-white hover:border-opacity-0;
}
