.info {
    @apply font-semibold border-gray py-3 border-opacity-50;
    border-bottom-width: 0.5px;
}

.normal {
    @apply ml-3 font-normal;
}
.mail {
    @apply text-green  transition-all duration-100;
    @apply hover:text-green-dark cursor-pointer;
}

.info:last-child {
    @apply border-0;
}
