.content_container {
    @apply text-center;
}

.title_name {
    @apply text-2xl font-semibold pb-10;
}

.content_container p {
    @apply pb-5 opacity-50 text-lg;
}

.personalInfo {
    @apply w-full px-10;
}

.personalInfo ul:first-child {
    @apply my-4;
}

.download_button {
    @apply my-5;
}
