.container {
    @apply flex flex-row py-5;
}
.icon {
    @apply text-green bg-black rounded-md text-3xl w-20 h-20 flex-shrink-0 grid justify-center items-center;
}

.text-container {
    @apply flex flex-col px-8;
}
.title {
    @apply text-xl font-semibold;
}
.description {
    @apply text-white font-medium opacity-50 mt-3;
}
