.title_container {
    @apply text-center font-semibold py-14 relative flex text-white;
}

.title_container[background]::before {
    content: attr(background);
    @apply opacity-5 text-7xl font-semibold uppercase
        w-full;
}

.title {
    @apply absolute text-4xl self-center w-full -mb-6;
}

.bottom_stroke {
    @apply block border-green w-28 border-b-4 mx-auto my-2;
}
